{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MDB4</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
</head>
<body>
    <marquee><h1>This is MDB4 Download method</h1></marquee>
    <h4>Basic Button</h4>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>

    <hr>
    <h4>Additional Buttons</h4>
    <button type="button" class="btn btn-elegant">Elegant</button>
    <button type="button" class="btn btn-unique">Unique</button>
    <button type="button" class="btn btn-pink">Pink</button>
    <button type="button" class="btn btn-purple">Purple</button>
    <button type="button" class="btn btn-deep-purple">Deep-purple</button>
    <button type="button" class="btn btn-indigo">Indigo</button>
    <button type="button" class="btn btn-light-blue">Light blue</button>
    <button type="button" class="btn btn-cyan">Cyan</button>
    <button type="button" class="btn btn-dark-green">Dark-green</button>
    <button type="button" class="btn btn-light-green">Light-green</button>
    <button type="button" class="btn btn-yellow">Yellow</button>
    <button type="button" class="btn btn-amber">Amber</button>
    <button type="button" class="btn btn-deep-orange">Deep-orange</button>
    <button type="button" class="btn btn-brown">Brown</button>
    <button type="button" class="btn btn-blue-grey">Blue-grey</button>
    <button type="button" class="btn btn-mdb-color">MDB</button>

    <hr>
    <h4>Gradient Buttons</h4>
    <button class="btn peach-gradient">Peach</button>
    <button class="btn purple-gradient">Purple</button>
    <button class="btn blue-gradient">Blue</button>
    <button class="btn aqua-gradient">Aqua</button>

    <hr>
    <h4>Outline Buttons</h4>
    <button type="button" class="btn btn-outline-primary waves-effect">Primary</button>
    <button type="button" class="btn btn-outline-default waves-effect">Default</button>
    <button type="button" class="btn btn-outline-secondary waves-effect">Secondary</button>
    <button type="button" class="btn btn-outline-success waves-effect">Success</button>
    <button type="button" class="btn btn-outline-info waves-effect">Info</button>
    <button type="button" class="btn btn-outline-warning waves-effect">Warning</button>
    <button type="button" class="btn btn-outline-danger waves-effect">Danger</button>
    
    <hr>
    <h4>Search</h4>
    <form class="form-inline md-form mr-auto mb-4">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
      </form>


    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>
</html>